<div class="public-classes widget">
  <h3 class="widget-title">Public Classes</h3>

  {{#each classes}}
    <div class="row">
      <div class="icon"><img src="{{../plugin_dir}}assets/images/class_{{# if virtual }}virtual{{else}}onsite{{/if}}.svg" /></div>
      <div class="details">
        <span class="date">{{class_dates}}</span><br />
        {{times}}<br/>
        <a class="location-name" href="#location-{{ID}}-{{location.id}}">{{location.name}}</a>
        <div class="location-description" id="location-{{ID}}-{{location.id}}">{{{location.description}}}</div>
      </div>
      <div class="register-link"><a class="button" href="{{register_link}}" style="font-family: futura-pt, Futura, sans-serif;">Register</a></div>
    </div>
  {{/each}}
</div>
